body {
    font-family: "Raleway", sans-serif;
    background-color: seashell;
    text-align: center;
}

.bug-title {
    font-size: 30px;
    font-family: "Rock Salt", cursive;
    margin: 0 auto;
    height: 30px;
    overflow: visible;
}

/* Modal Content */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 6px solid lightseagreen;
    border-radius: 16px;
    width: 80%;
}

#play-again {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
